.form-item{
    width: 3rem;
    height: 500px;
    margin: 0 auto;
    padding: .2rem .2rem;
    background-color: #fff;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, .03);
}
.form-input {
    display: flex;
    flex-direction: column;
    
    input {
        margin-bottom: .2rem;
        border: .01rem solid #ccc;
        height: .3rem;
        padding: 0 .08rem;
        border-radius: .04rem;
        overflow: hidden;
        &:focus {
            border: none;
            outline: 1px solid steelblue;
        }
    }
}
.form-submit{
    display: flex;
    justify-content: space-around;
    button{
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }
}
.head-image{
    position: relative;
    .delete-icon{
        position: absolute;
    }
}