.header{
    height: 75px;
    background: #232325;
    .header-container{
        display: flex;
        flex: 1;
        height: 100%;
        align-items: center;
    }
    li{
        margin-right: 20px;
        a{
            font-size: 24px;
            color: #999; 
        }
    }
}

.braft-editor{
    width: 800px;
    height: 900px;
}