.item-card{
    position: relative;
    width: 60%;
    margin: 0 0 15px;
    padding: 15px 2px 20px 0;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
    cursor: pointer;
    .title{
        color: #333;
        margin: -7px 0 4px;
        display: inherit;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
    }
    .contents{
        margin-bottom: 15px;
    }
    
    .meta{
        color: #b4b4b4;
        font-size: 12px;
        display: flex;
        align-items: center;
        .update-time{
            margin-left: 8px;
        }
        .edit-icon{
            padding: 4px;
            &:hover{
                color: #333;
                background: rgba($color: #fff, $alpha: 0.8);
                border-radius: 4px;
            }
        }
    }
}