.content{
    padding: .16rem;
    .write-article{
        
        p{
            margin: .1rem 0;
            cursor: pointer;
        }
    }
    .head{
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        overflow: hidden;
    }
}