.app-container{
    height: 100%;
}
.container {
    margin: 0 auto;
    background: #e9ecef;
    min-height: 100%;
    position: relative;
}

.header-container {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e9ecef;
    box-shadow: 0 2px 8px rgba(0,0,0,.03);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

.banner {
    display: flex;
    flex-direction: row;
    height: 56px;
    min-width: 60%;
    max-width: 980px;
    margin: 0 auto;
    li {
        margin: 12px 5px;
        padding: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 26px;
        border-radius: 4px;
        a {
            color: #757575;
            font-size: 17px;
            font-weight: 700;
            &:hover{
                opacity: 0.8;
            }
        }
       
    }
    .active-tab a{
        color: #009a61;
    }
    li:hover {
        background-color: #F3F3F3;
    }
}
.content-box{
    margin: 8px auto 0;
    min-width: 60%;
    max-width: 980px;
    min-height: 100%;
    border-radius: 4px 4px 0 0;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}